body {
    margin: 0;
}
.header {
    background-color: gray;
    padding: 20px;
}

.header img {
    width: 100%;
    height: auto;
}

.header_title {
    margin-top: 0;
}

.header_nav{
    margin: 50px 0;
}

.header_nav a{
    padding: 0 10px ;
}

.main {
    background-color: lightgray;
    padding: 20px;

}

.footer {
    background-color: gray;
    padding: 10px 20px;

}